<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body >
<div class="div_0" >
    <div class="div_1">
        <table>

            <tbody>
            <tr class="tr">
                <td id="td_1_1">
                    <div class="div_s">
                        <a href="/login/"></a>
                        <div class="div_z">
                            <span>管理后台</span>
                        </div>
                    </div>

                </td>
                <td id="td_1_2">
                    <div class="div_s">
                    <a href="/user_login/"></a>
                        <div class="div_z">
                            <span>用户登陆</span>
                        </div>
                    </div>
                </td>
                <td id="td_1_3">
                    <div class="div_s">
                    <a href=""></a>
                        <div class="div_z">
                            <span></span>
                        </div>
                    </div>
                </td>
                <td id="td_1_4">
                    <div class="div_s">
                    <a href=""></a>
                    <div class="div_z">
                            <span></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="tr">

                <td id="td_2_1">
                    <div class="div_s">
                        <a href=""></a>
                        <div class="div_z">
                            <span></span>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div>

    </div>
</div>
</body>
</html>